{% extends 'global/base.html' %}
 
 {% block content %}
   <div class="form-wrapper">
 
     <h2>Login</h2>
     {% if user.is_authenticated %}
      <p>
        Voce esta logado como {{user.username}}
        clique <a href="{% url "contact:logout" %}">aqui</a> para sair.
      </p>
     
     {% else %}
      {% include "contact/partials/_user-form.html" %}
     {% endif %}

     <p>Nao tem conta?</p>
      <p>Clique <a href="{% url "contact:register" %}">aqui</a> para criar!</p>
    </div>

 {% endblock content %}